# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://kmxvkvvlgbscykjrozck.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtteHZrdnZsZ2JzY3lranJvemNrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI2OTY5ODQsImV4cCI6MjA5ODI3Mjk4NH0.ruQouxvbwxnSENoHW1HcO8MtCEBf9drxDs31LSxipWU

# Super Admin (comma-separated emails)
SUPER_ADMIN_EMAILS=kukuhmhidayatullah@gmail.com

# Pusher (for realtime gelanggang)
NEXT_PUBLIC_PUSHER_KEY=8eebb0f44e0e727467db
NEXT_PUBLIC_PUSHER_CLUSTER=ap1
